snap-content {
    padding-top: 50px;
}
snap-drawer {
    padding-top: 50px;
}
.navbar-center
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
  height:100%;
}
/*
.full {
  background: url(http://placehold.it/1920x1080) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/

